.title {
	margin-left: 14px;
	margin-top: 20px;
	color: #9E6E07;
	font-size:24pt;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.title2 {
	text-align : center;
	color: #9E6E07;
	font-size:18pt;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.description{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-left: 20px;
}

.description2{
	font-size: 8pt;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.form{
	width: 10em;
}

.section{
	margin-left: 30px;
}

.categorie{
	font-size: 10pt;
}

.radio{
	margin-left: 20px;
}